/binaryToDecimal.java
/decimalToBinary.java
/deciToBinary.java
/dictMap.java
/gamestr.java
/hello.java
/index.html
/Pattern1.java
/pattern2.java
/pattern3.java
/Pattern4.java
/Pattern5.java
/Pattern6.java
/Pattern7.java
/Pattern8.java
/Pattern9.java
/shu.java